.banner1{
    background: url("../img/banner.png");
    background-size: cover;
    background-position: center;
    height:100vh;
}

.banner2{
    background: url("../img/Tecno-blog.png");
    background-size: cover;
    background-position: center;
    height:400px;
}



