.banner1{
    background: url("../img/banner1.jpg");
    background-size: cover;
    background-position: center;
    height:100vh;
}

.banner2{
    background: url("../img/banner2.jpg");
    background-size: cover;
    background-position: center;
    height:100vh;
}

.banner3{
    background: url("../img/banner3.jpg");
    background-size: cover;
    background-position: center;
    height:100vh;
}

.font-s{
    font-size: 0.7rem;
}



